<div class="alert alert-danger alert-dismissible fade show transition" role="alert" id="alertCnt">
  <div id="errorText"><strong>Error!</strong> You should check in on some of those fields below.</div>
  <button type="button" class="btn-close"></button>
</div>