{{!--Slider--}}
{{!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/slider-img/img1.jpg" class="d-block w-100" alt="Imagen 1">
        </div>
        <div class="carousel-item">
            <img src="/img/slider-img/img2.jpg" class="d-block w-100" alt="Imagen 2">
        </div>
        <div class="carousel-item">
            <img src="/img/slider-img/img3.jpg" class="d-block w-100" alt="Imagen 3">
        </div>
        <div class="carousel-item">
            <img src="/img/slider-img/img4.jpg" class="d-block w-100" alt="Imagen 4">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> --}}

{{!--Tools--}}
<h2 class="TitleCnt">Tools</h2>
<div class="toolsCnt">
    <a class="card linkStyle transition" style="width: 18rem;" href="/tools/yttoaudio">
        <img src="img/Icons/ytToAudio.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">YouTube to Audio</h5>
            <p class="card-text">Download Audios from Youtube videos, you can select from different audio formats.</p>
        </div>
    </a>
    <a class="card linkStyle transition" style="width: 18rem;" href="/tools/yttovideo">
        <img src="img/Icons/ytToVideo.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">YouTube to Video</h5>
            <p class="card-text">Download Videos from Youtube, you can select from different video formats.</p>

        </div>
    </a>

    {{!-- <a class="card linkStyle transition" style="width: 18rem;">
        <img src="img/Icons/multiFile.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Multi File</h5>
            <p class="card-text">Download Audios or Videos from a Youtube playlist, or create your own.</p>
        </div>
    </a>

    <a class="card linkStyle transition" style="width: 18rem;" href="/tools/videotoaudio">
        <img src="img/Icons/convertVideoToAudio.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Video to Audio</h5>
            <p class="card-text">Online convert a Video to Audio format.</p>
        </div>
    </a>

    <a class="card linkStyle transition" style="width: 18rem;" href="/tools/videotovideo">
        <img src="img/Icons/convertVideoToVideo.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Video to Video</h5>
            <p class="card-text">Online convert a Video to another Video with a different format.</p>

        </div>
    </a>

    <a class="card linkStyle transition" style="width: 18rem;" href="/tools/audiotoaudio">
        <img src="img/Icons/convertAudioToAudio.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Audio to Audio</h5>
            <p class="card-text">Online convert an Audio to another Audio with a different format.</p>
        </div>
    </a>

    <a class="card linkStyle transition" style="width: 18rem;">
        <img src="img/Icons/addImageToAudio.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Add Image to Audio</h5>
            <p class="card-text">Add an image to one or more audio tracks.</p>
        </div>
    </a> --}}
    <a class="card linkStyle transition" style="width: 18rem;" disabled>
        <div class="coomingsoon">
            <img src="img/Icons/plus.svg" class="card-img-top" width="150px" alt="...">
            <div class="card-body">
                <h5 class="card-title">More tools coming soon</h5>
                <p class="card-text">We are working on more tools for you...</p>
            </div>
        </div>
    </a> 
</div>

{{!--footer--}}
<footer class="navbar">
    <cite class="linkStyle"><strong>Dlmp3</strong> You video and music dowloader <strong>Create by Byron Alas</strong></cite>
</footer>